<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
    <div class="container">

        <a class="navbar-brand" href="/">
            Student Task Manager
        </a>

        <div>

            <a class="btn btn-outline-light me-2" href="/">
                Home
            </a>

            <a class="btn btn-primary" href="/tasks">
                Tasks
            </a>

        </div>

    </div>
</nav>